<?xml version='1.0' encoding='utf-8'?>
<widget id="com.two16software.wordskunk2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Word Skunk</name>
    <description>
        Crush your enemies
    </description>
    <access origin="http://127.0.0.1*" />
    <content src="index.html" />
</widget>
